@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../vendor/Inter-Black.woff2?v=3.19') format('woff2'),
    url('../../vendor//Inter-Black.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../vendor//Inter-Regular.woff2?v=3.19') format('woff2'),
    url('../../vendor//Inter-Regular.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../vendor//Inter-Bold.woff') format('woff'),
    url('../../vendor//Inter-Bold.woff2') format('woff2');
}

.page {
  background-color: #2A2C2F;
  font-family: 'Inter', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
  color: #fff;
}