.intro__list {
    list-style-type: none;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.intro__list span {
    font-weight: 400;
}

@media screen and (min-width: 1281px) {
    .intro__list {
        padding-top: 33px;
    }
}

@media screen and (max-width: 1280px) {
    .intro__list {
        padding-top: 33px;
    }
}
@media screen and  (max-width: 425px) {
    .intro__list {
        font-size: 12px;
        line-height: 18px;
        padding-top: 34px;
    }
}





