.lead {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  max-height: 1005px;
}

@media screen and (min-width: 1281px) {
  .lead {
    
  }
}
@media screen and (max-width: 1280px) {
  .lead {
    
  }
}
@media screen and (max-width: 1024px) {
  .lead {
    padding-top: 56px;
  }
}

@media screen and (max-width: 425px) {
  .lead {
    padding-top: 30px;
  }
}