.cover__subtitle {
  margin: 0 auto;
  text-align: center;
  display: block;
}

@media screen and (min-width: 1281px) {
  .cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    max-width: 360px;
  }
}

@media screen and (max-width: 1280px) {
  .cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    max-width: 360px;
  }
}

@media screen and (max-width: 425px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 273px;
    padding-bottom: 33px;
  }
}