.cover__subtitle {
    position: absolute;
    z-index: 3;
    margin: 0 30%;
    bottom: 25%;
    text-align: center;
    display: block;
    max-width: 360px;
}

@media screen and (max-width: 1280px) {
    .cover__subtitle{
        font-size: 18px;
        line-height: 22px;
    }
}

@media screen and (max-width: 424px) {
    .cover__subtitle{
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        max-width: 288px;
        max-height: 46px;
        
    }
}
