.header {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1280px) {
  .header {
    max-height: 52px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
  
  }
}

@media screen and (max-width: 768px) {
  .header {
    
  }
}

@media screen and (max-width: 425px) {
  .header {
  max-width: calc(100% - 24px);
  padding-top: 19px;
  max-height: 42px;
  }
}