.link {
  color: #fff;
  text-decoration: none;
  transition: opacity .5s;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -ms-transition: opacity .5s;
  -o-transition: opacity .5s;
}

.link:hover {
  opacity: .8;
}