.footer__link {
  margin: 0;
  list-style-type: none;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}

@media screen and (min-width: 1281px) {
  .footer__link {
    font-size: 16px;
    line-height: 18px;
    padding-right: 18px;
  }
}

@media screen and (max-width: 1280px) {
  .footer__link {
    font-size: 16px;
    line-height: 18px;
    padding-right: 18px;
  }
}

@media screen and (max-width: 768px) {
  .footer__link {
    padding-right: 23px;
  }
}

@media screen and (max-width: 636px) {
  .footer__link {
    font-size: 24px;
    padding-bottom: 32px;
  }
}