.place__paragraph {
    margin: 0;   
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: start;
    height: max-content;
}

@media screen and (min-width: 1280px) {
  .place__paragraph:nth-child(2){
    padding-top: 26px;
  }
  }

  @media screen and (max-width: 1024px) {
    .place__paragraph {
      line-height: 29px;
    }
  }

@media screen and (max-width: 768px) {
    .place__paragraph {
        grid-column: 2/3;
        line-height: 26px;
        font-size: 16px;
        
    }
    .place__paragraph:nth-child(2){
      padding-top: 25px;
    }
  }