.place__paragraph {
    margin: 0;   
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: start;
    height: max-content;
}

@media screen and (max-width: 1280px) {
    .place__paragraph {
        /*padding-bottom: 26px;*/
    }
  }

@media screen and (max-width: 768px) {
    .place__paragraph {
        grid-column: 2/3;
        
    }
    .place__paragraph:first-child {
      padding-bottom: 25px;
    }
  }

  @media screen and (max-width: 425px) {
    .place__paragraph:first-child {
      padding-bottom: 25px;
    }
  }