.footer__copyright {
  font-size: 14px;
  margin: 0;
}

@media screen and (max-width: 1280px) {
  .footer__copyright {
    line-height: 16px;
  }
}

@media screen and (max-width: 425px) {
  .footer__copyright {
    line-height: 14px;
    padding: 15px 0;
  }
}
