.lead__image {
    
}

@media (max-width: 425px) {
    .lead__image {
        width: 100%;
        padding-top: 39px;
        margin-left: -4px;
    }
}
@media (min-width: 426px) and (max-width: 768px) {
    .lead__image {
        width: 100%;
    }
}@media (min-width: 769px) and(max-width: 1024px) {
    .lead__image {
    
    }
}
@media (min-width: 1025px) and(max-width: 1280px) {
    .lead__image {
    
    }
}
@media (min-width: 1280px) {
    .lead__image {
    
    }
}
