.intro__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: start;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .intro__text {
        max-width: 702px;
        letter-spacing: .5px;
}
}