.footer__list-links {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 635px) {
  .footer__list-links {
    margin-bottom: 47px;
  }
}

@media screen and (max-width: 530px) {
  .footer__list-links {
    flex-direction: column;
    justify-content: space-between;
    min-height: 249px;
  }
}