.intro {
  margin: 0;
}

@media screen and (min-width: 1281px) {
  .intro {
    padding: 93px 100px 92px 100px;
    max-width: 690px;
  }
}

@media screen and (max-width: 1280px) {
  .intro {
    padding: 93px 100px 92px 100px;
    max-width: 90%;
  }
}

@media screen and (max-width: 1024px) {
  .intro {
    padding: 93px 48px 91px 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 100%;
    padding: 89px 24px 88px 24px;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    height: 754px;
    padding: 64px 16px;
  }
}