.cover__background {
    z-index: 0;
    position: absolute;
    min-width: 100%;
    background-image: url("../../../images/cover__background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (min-width: 1280px) {
    .cover__background {
        min-height: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .cover__background {
        min-height: 100%;
        left: -48px;
    }
}

@media screen and (max-width: 425px) {
    .cover__background {
    }
}
