.lead__subtitle {
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 1281px) {
  .lead__subtitle {
    max-width: 640px;
    line-height: 36px;
    padding-top: 32px;
    padding-bottom: 64px;
    font-size: 30px;
  }
}

@media screen and (max-width: 1280px) {
  .lead__subtitle {
    max-width: 640px;
    line-height: 36px;
    padding-top: 32px;
    padding-bottom: 64px;
    font-size: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    padding-bottom: 57px;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    max-width: 605px;
    padding: 32px 24px 56px;
  }
}

@media screen and (max-width: 567px) {
  .lead__subtitle {
    font-size: 22px;
  }
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    padding: 16px 16px 39px;
  }
}