.lead__subtitle {
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 1281px) {
  .lead__subtitle {
    max-width: 640px;
    line-height: 36px;
    padding-top: 32px;
    padding-bottom: 64px;
    font-size: 30px;
  }
}

@media screen and (max-width: 1280px) {
  .lead__subtitle {
    max-width: 640px;
    line-height: 36px;
    padding-top: 32px;
    padding-bottom: 64px;
    font-size: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    max-width: 640px;
    padding-bottom: 57px;
    padding-top: 31px;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    max-width: 605px;
    padding-bottom: 56px;
    padding-top: 32px;
  }
}

@media screen and (max-width: 765px) {
  .lead__subtitle {
    font-size: 24px;
  }
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
    padding-top: 16px;
    padding-bottom: 39px;
    font-size: 16px;
    line-height: 20px;
  }
}