.cover {
  background-image: url('../../images/cover__background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
}

.cover::before {
  content: "";
  opacity: .3;
  background-color: #2A2C2F;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  transition: opacity .5s;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -ms-transition: opacity .5s;
  -o-transition: opacity .5s;
}

.cover:hover::before {
  opacity: .8;
}

@media screen and (max-width: 1280px) {
  .cover {
    min-height: 740px;
  }
}

@media screen and (max-width: 1024px) {
  .cover {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
    justify-content: space-around;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    min-height: 200px;
  }
}