.cover__overlay {
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 100%;
}

@media screen and (min-width: 1281px) {
  .cover__overlay {
    min-height: 740px;
  }
}

@media screen and (max-width: 1280px) {
  .cover__overlay {
    min-height: 740px;
  }
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    min-height: 480px;
    justify-content: space-around;
  }
}

@media screen and (max-width: 320px) {
  .cover__overlay {
    min-height: 200px;
  }
}