.lead__caption {
    font-weight: 400;
    line-height: 14px;
    letter-spacing: .15em;
    align-self: start;
    max-width: 160px;
    margin: 0;
    padding-top: 8px;
    font-size: 10px;
    padding-left: 0;
}


