.cover__title {
  font-weight: 900;
  display: block;
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 1281px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
    max-width: 510px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 1280px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
    max-width: 510px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .cover__title {
    font-size: 48px;
    line-height: 35px;
    padding-bottom: 16px;
    padding-top: 33px;
  }
}

@media screen and (max-width: 425px) {
  .cover__title {
    font-size: 32px;
  }
}