.cover__title {
  font-weight: 900;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
}


@media screen and (min-width: 1281px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
    max-width: 510px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 1280px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
    max-width: 510px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
    max-height: 13px;
  }
}

@media screen and (max-width: 600px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    max-height: 70px;
    padding-bottom: 16px;
    max-width: 228px;
  }
}