.place {
    display: grid;
}
@media screen and (max-width: 768px) {
    .place {
        grid-template-rows: auto auto;
        grid-template-columns: 340px 1fr;
        gap: 48px 28px;
    }
}
@media screen and (max-width: 425px) {
    .place {
        padding-bottom: 50px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}


