.footer {
  display: flex;
  
}

@media screen and (min-width: 1280px) {
  .footer {
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 72px 24px 24px;
  }
}

@media screen and (max-width: 450px) {
  .footer {
    flex-direction: column;
    padding-top: 63px;
  }
}