.footer {
  display: flex;
  padding-bottom: 24px;
}

@media screen and (min-width: 1281px) {
  .footer {
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1280px) {
  .footer {
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .footer {
  }
}

@media screen and (max-width: 450px) {
  .footer {
    flex-direction: column;
    padding-top: 64px;
  }
}