.place__url-heading {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaa;
}

@media screen and (min-width: 1281px) {
  .place__url-heading {
    line-height: 20px;
  }
}

@media screen and (max-width: 1280px) {
  .place__url-heading {
    line-height: 20px;
  }
}

@media screen and (max-width: 768px) {
  .place__url-heading {
    line-height: 12px;
  }
}