.place__website {
  margin: 0;
  height: 46px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: end;
}

@media screen and (max-width: 425px) {
  .place__website {
    padding-left: 16px;
  }
}