.place__website {
  margin: 0;
  height: 46px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 425px) {
  .place__website {
    padding: 32px 17px;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .place__website {

  }
}@media (min-width: 769px) and(max-width: 1024px) {
  .place__website {

  }
}
@media (min-width: 1025px) and(max-width: 1280px) {
  .place__website {

  }
}
@media (min-width: 1280px) {
  .place__website {

  }
}

