.intro__title {
  font-weight: 900;
  margin: 0;
}

@media screen and (min-width: 1281px) {
  .intro__title {
    font-size: 54px;
    line-height: 58px;
  }
}

@media screen and (max-width: 1280px) {
  .intro__title {
    font-size: 54px;
    line-height: 58px;
    padding-bottom: 26px;
  }
}

@media screen and (max-width: 768px) {
  .intro__title {
    font-size: 52px;
  }
}

@media (max-width: 425px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 251px;
    padding-bottom: 39px;
  }
}